.featuredPosts {
  h2 {
    margin-top: 3rem;
    color: var(--text-primary);
    font-weight: 500;
    font-size: 1.7rem;
    letter-spacing: 0.16rem;
  }

  &Link {
    font-weight: 700;
    color: var(--text-secondary);
    font-style: italic;
    cursor: pointer;
    font-size: 0.9rem;

    img {
      width: 0.8rem;
      margin-left: 0.25rem;
    }

    div {
      background-color: var(--text-secondary);
      height: 2px;
      width: 4.5rem;
      margin-top: 0.2rem;
    }
  }
}
