.navBar {
  width: 100%;
  height: var(--nav-bar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background: var(--primary-color-st);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;

  a {
    color: var(--text-primary);
    font-size: 1.1rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
  }

  &Open {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--primary-color);
    backdrop-filter: none;
  }

  &Content {
    width: 90%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span {
      flex-grow: 1;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 1px;
    }

    &Hamburger {
      div {
        transition: all 0.3s ease;
        width: 2.4rem;
        height: 0.25rem;
        background-color: var(--secondary-color);
        border-radius: 3px;

        &:not(:last-child) {
          margin-bottom: 0.6rem;
        }
      }

      &Open {
        div {
          margin: 0;
        }
        :first-child {
          transform: rotate(-45deg) translateY(0.6rem);
        }
        :last-child {
          transform: rotate(45deg) translateY(-0.6rem);
        }
        :nth-child(2) {
          display: none;
        }
      }
    }
  }

  &MobileContent {
    width: 100%;
    display: none;
    animation: navSlideIn 0.3s;

    &Open {
      display: block;
      flex-grow: 1;

      ul {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

@keyframes navSlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (min-width: 750px) {
  .navBar {
    &Content {
      ul {
        display: flex;
        width: 20rem;
        justify-content: space-between;
        margin-right: 1rem;
      }

      &Hamburger {
        display: none;
      }
    }
  }  
}

@media screen and (min-width: 1000px) {
  .navBar {
    width: var(--max-content-width);
  }
}
