.hero {
  display: flex;
  flex-wrap: wrap;

  &Accent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &Animation {
      height: 100%;
      width: 100%;

      img {
        min-width: 8rem;
        width: 30%;
        display: block;
        margin: 0 auto;
        animation: bounce 3s ease-in-out infinite
      }

      div {
        display: block;
        min-width: 8rem;
        width: 20%;
        height: 0.5rem;
        margin: 1rem auto 0 auto;
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 50%;
        animation: animateShadow 3s ease-in-out infinite;
      }
    }
  }

  &Content {
    h1 {
      font-weight: 800;
      font-size: 2.2rem;
    }

    p {
      margin: 0.25rem;
      color: var(--text-secondary);
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

@keyframes bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(18px);}
  100% {transform: translateY(0);}
}

@keyframes animateShadow {
  0% {transform: scaleX(1);}
  50% {transform: scaleX(1.2);}
  100% {transform: scaleX(1);}
}

@media screen and (min-width: 600px) {
  .hero{
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    &Accent {
      width: 50%;
      height: 100%;

      &Animation {
        img {
          width: 50%;
        }

        div {
          width: 40%;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero{
    &Content {
      h1 {
        font-size: 2.4rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
