.themeIndicator {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;

  img {
    height: 2rem;
    width: 2rem;
  }

  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 750px) {
  .themeIndicator {
    margin: 0;
  }
}
