.themeIndicator {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;

  img {
    height: 2rem;
  }

  &:hover {
    cursor: pointer;
  }
}
